@import "tailwindcss";

/* GLOBAL ROOT SETUP */
html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* 🔥 FLOATING WINDOW ONLY */
body.floating,
body.floating #root {
  background: transparent !important;
}